<!--foo-table-->
<link rel="stylesheet" href="css/footable/footable.core.css?v=2-0-1" />
<link rel="stylesheet" href="css/bootstrap-pagination.css" />
<!--/foo-table-->

<!--List-->
<div class="row" id="rowList">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading panel-supervisor">
                <span class="pull-left"><span name="lbl" caption="heatingsystems">heatingsystems</span></span>
                <span class="tools pull-right"> 
                    <a href="javascript:;" class="fa fa-chevron-down"></a>                   
                </span>               
                <div class="clearfix"></div>
            </header>
            <div class="panel-body">
		        <table class="table tableHeatingSystem" data-page-size="2">
			        <thead>
				        <tr>
					        <th data-toggle="true"><span name="lbl" caption="description">description</span> </th>
                            <th data-hide="phone"><span name="lbl" caption="installationaddress">Address</span></th>
                            <th data-hide="phone"><span name="lbl" caption="status">status</span></th>	
                            <th data-hide="phone">Documenti</th>
                            <th data-hide="phone">Tickets</th>
                            <th></th>
                            <th data-hide="all"></th>
                            <th data-hide="all"></th>
				        </tr>
			        </thead>
			        <tbody id="ListHeatingSystem"></tbody>
			        <tfoot>
				        <tr>
					        <td colspan="6">
						        <div class="pagination pagination-centered hide-if-no-paging"></div>
					        </td>
				        </tr>
			        </tfoot>
		        </table>
            </div>
            <footer class="panel-footer">
                <div class="clearfix"></div>
            </footer>
        </section>
    </div>
</div>
<!--/List-->

<!--templates-->
<script type="text/x-jquery-tmpl" id="tmplHeatingSystemList">
<tr>
    <td><b>${Descr}</b></td>
    <td>${Indirizzo}</td>
    <td>
        {{if stato==0}}
            <img src="images/action_success.png" style="height:24px;width:24px" />
        {{else}}
            {{if stato==1}}
                <img src="images/status1.png" style="height:24px;width:24px" />
            {{else}}
                <img src="images/status2.png" style="height:24px;width:24px" />
            {{/if}}
        {{/if}}
    </td>
    <td>
        <span id="totDoc_${hsId}" class="badge label-info pull-left r-activity">0</span>
    </td>
    <td>        
        <span id="totTickets_${hsId}" class="badge label-danger pull-left r-activity">0</span>
    </td>
    <td>
        <span class="pull-right">
            <a href="javascript:selSynoptic('${hsId}');" class="btn btn-info btn-sm" style="width:70px;"><span name="lbl" caption="synoptic">synoptic</span></a> 
            <a href="javascript:sel('${hsId}');" class="btn btn-info btn-sm" style="width:70px;"><span name="lbl" caption="select">Select</span></a>           
        </span>
    </td>
    <td>
        <textarea id="Note" rows="2" cols="80" class="form-control">${Note}</textarea>        
    </td>
    <td>
        <span class="pull-right">
            <a href="javascript:CalhsDoc(${hsId})" class="btn btn-default btn-sm btn-primary">Documenti</a>
            <a href="javascript:CalhsTickets( ${hsId} )" class="btn btn-default btn-sm btn-primary">Tickets</a>
            <a href="javascript:calNote('${hsId}');" class="btn btn-info btn-sm" style="width:70px;"><span name="lbl" caption="note">Note</span></a>
        </span>
    </td>

</tr>
</script>
<!--/templates-->

<!--foo-table-->
<script src="js/footable/footable.js?v=2-0-1" type="text/javascript"></script>
<script src="js/footable/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
<!--/foo-table-->
<script src="js/app/core/managelang.js" type="text/javascript"></script>
<script src="js/app/Impianti/Supervisors/ManageDevice8.js" type="text/javascript"></script>